body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* info-panel Style*/

#info-panel {
    display: none;
    position: fixed;
    top: 50px;
    width: 180px;
    /* border-right: #7f8c8d solid 1px;
    border-bottom: #7f8c8d solid 1px; */
    z-index: 1;
    background: white;
}

.group-function{
    position: fixed;
    top: 10px;
    z-index: 2;
}

.loading-img{
    top: 25px;
    left: 44px;
    position: fixed;
}

.checkLine {
    padding-left: 0px;
}

.info-detail {
    padding-left: 5px;
    padding-right: 5px;
}

#function-panel {
    position: fixed;
    z-index: 1;
}

/* optional Container STYLES */

.first-choose {
    border: 1px solid #843534 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.second-choose {
    border: 1px solid #66512c!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}

#btnHide {
    display: none;
}

.chart {
    /* height: 550px;
    margin: 5px;
    width: 900px; */
    margin-left: 0px;
    margin-top: 50px
    /* background: #F5A9B8; */
}

.node-name {
    /* font-weight: bold; */
    height: 25px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

.node-spouse {
    height: 25px;
    color: #7f8c8d;
    /* -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px; */
}

.node-birthday, .node-gender, .node-ID {
    display: none;
}

.nodeDetail {
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 150px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 25px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.nodeDetail.ndmale {
    box-shadow: inset 0px 0px 20px rgba(91, 206, 250, 0.5);
}

.nodeDetail.ndfemale {
    box-shadow: inset 0px 0px 20px rgba(245, 169, 184, 0.5);
}

.nodeDetail.male {
    background: #5BCEFA;
}

.nodeDetail.female {
    background: #F5A9B8;
}

.nodeDetail img {
    margin-right: 10px;
}

.nodeView, .nodeAdd {
    display: none;
}

.name-pre {
    color: #843534;
    font-weight: bold; 
}

.name-cur {
    color: #66512c;
    font-weight: bold;
}

.relation-name-pre {
    color: #dc3545;
    font-weight: bold;
}

.relation-name-cur {
    color: #dc3545;
    font-weight: bold;
}

.table-user-information>tbody>tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
    border-top: 0;
}

.table-user-information>tbody>tr>td {
    border-top: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.btn {
    background: transparent;
    position: relative;
    overflow: hidden;
    transition: all .5s;
}

/* //// Default effect: Slide from Top  //// */

.btn:before, .btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
    transition: all .5s;
}

.btn:hover {
    color: white;
}

.btn:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}

.btn-primary:before {
    background: #007bff;
    /* button default background color */
}

.btn-primary:after {
    background: #0000005a;
}

.btn-primary:hover {
    background: #025ec1;
}

.btn-secondary:before {
    background: #6c757d;
    z-index: -2;
}

.btn-secondary:after {
    background: #5a6268;
}

.btn-secondary:hover {
    background: #5a6268;
}

.btn-success:before {
    background: #28a745;
    z-index: -2;
}

.btn-success:after {
    background: #218838;
}

.btn-success:hover {
    background: #218838;
}

.btn-danger:before {
    background: #dc3545;
}

.btn-danger:after {
    background: #c82333;
}

.btn-danger:hover {
    background: #c82333;
}

.btn-warning:before {
    background: #ffc107;
}

.btn-warning:after {
    background: #e0a800;
}

.btn-warning:hover {
    background: #e0a800;
}

.btn-info:before {
    background: #17a2b8;
}

.btn-info:after {
    background: #138496;
}

.btn-info:hover {
    background: #138496;
}

.btn-light:before {
    background: #f8f9fa;
}

.btn-light:after {
    background: #e2e6ea;
    color: #212529;
}

.btn-light:hover {
    background: #e2e6ea;
    color: #212529;
}

.btn-dark:before {
    background: #6c757d;
}

.btn-dark:after {
    background: #23272b;
}

.btn-dark:hover {
    background: #23272b;
}

.btn-link:hover {
    color: #007bff;
}

/* //// Outline Buttons  //// */

.btn-outline-primary:after {
    background: #007bff;
}

.btn-outline-primary:hover {
    background: #007bff;
}

.btn-outline-secondary:after {
    background: #6c757d;
}

.btn-outline-secondary:hover {
    background: #6c757d;
}

.btn-outline-success:after {
    background: #28a745;
}

.btn-outline-success:hover {
    background: #28a745;
}

.btn-outline-danger:after {
    background: #dc3545;
}

.btn-outline-danger:hover {
    background: #dc3545;
}

.btn-outline-warning:after {
    background: #ffc107;
}

.btn-outline-warning:hover {
    background: #ffc107;
}

.btn-outline-info:after {
    background: #17a2b8;
}

.btn-outline-info:hover {
    background: #17a2b8;
}

.btn-outline-light {
    color: #212529;
}

.btn-outline-light:after {
    background: #e2e6ea;
    color: #212529;
}

.btn-outline-light:hover {
    background: #e2e6ea;
    color: #212529;
}

.btn-outline-dark:after {
    background: #343a40;
}

.btn-outline-dark:hover {
    background: #343a40;
}

/* //// Slide Left  //// */

.slideright:after {
    top: 0;
    z-index: -1;
    transform: translate3D(-101%, 0, 0);
}

.slideright:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}

/* //// Slide Right  //// */

.slideleft:after {
    top: 0;
    z-index: -1;
    transform: translate3D(101%, 0, 0);
}

.slideleft:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}

/* //// Slide Up  //// */

.slideup:after {
    top: 0;
    z-index: -1;
    transform: translate3D(0, 100%, 0);
    /* move elements above button so they don't appear initially */
    transition: all .5s;
    /* onhover background color */
}

.slideup:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}

/* //// Slide Down  //// */

.slidedown:after {
    top: 0;
    z-index: -1;
    transform: translate3D(0, -100%, 0);
    /* move elements above button so they don't appear initially */
    transition: all .5s;
    /* onhover background color */
}

.slidedown:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}

/* //// Slide Top Left //// */

.slidetopleft:after {
    transform: translate3D(100%, -100%, 0);
}

.slidetopleft:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}

/* //// Slide Corner Right //// */

.slidetopright:after {
    transform: translate3D(-100%, -100%, 0);
}

.slidetopright:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}

/* //// Slide Corner Left //// */

.slidebottomleft:after {
    transform: translate3D(100%, 100%, 0);
}

.slidebottomleft:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}

/* //// Slide Corner Right //// */

.slidebottomright:after {
    transform: translate3D(-100%, 100%, 0);
}

.slidebottomright:hover:after {
    transform: translate3D(0, 0, 0);
    transition: all .5s;
}